.header{
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 30px;
    justify-content: space-between;

}
.Logoheader{
    width: 75px;
    display: flex;
    align-items: center;
    padding: 10px 0px 5px 20px;
}

@media screen and (max-width: 500px) {
    .header{
        border-radius: 25px;
        width: 100%;
        padding-right: 15px;
    }

    .Logoheader{
        width: 45px;
        padding-left: 15px;

    }
}