.projectPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    
}

@media screen and (max-width: 400px) {
    .projectPage{
        margin-left: 4px;
    }
}